<div class='about'>
    <h2 id='page-title'> Our Motto</h2>

    <div class='about-desc cut'>
        <span id='motto'> We aim to sell the lowest quality bicycles for the highest possible price that we can while still
        retaining a fickle customer relationship
        </span>

        </br>
        </br>

        <span id='motto'> “I began to feel that myself plus the bicycle equaled myself plus the world, upon whose spinning wheel we must all earn to ride, or fall into the sluiceways of oblivion and despair. That which made me succeed with the bicycle was precisely what had gained me a measure of success in life — it was the hardihood of spirit that led me to begin, the persistence of will that held me to my task, and the patience that was willing to begin again when the last stroke had failed. And so I found high moral uses in the bicycle and can commend it as a teacher without pulpit or creed. She who succeeds in gaining the mastery of the bicycle will gain the mastery of life.”
        <br>
        <br>
        - Frances E. Willard, ‘How I Learned To Ride The Bicycle’, 1895
        </span>
    </div>
</div>